name: CI/CD Pipeline

on:
  push:
    branches:
      - dev
      - main

jobs:
  # Hiermee roep je de tests aan uit het andere bestand
  tests:
    uses: ./.github/workflows/test-reusable.yml

  # De build stap wordt pas uitgevoerd als de tests slagen
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
